/* ================================================================= */
/* Program: DeliveryDeliver.css - the css file of the deliver of the */ 
/*          delivery website                                         */
/* Author : Bill Huang                                               */
/* Date   : Oct 19 - Dec 18, 2019                                    */
/* ================================================================= */

/* Flexible hours */
/* ============== */

.fd-deliver-flexible-bg {
    /* background-color: #13C2C2; */
    background-image: url("../../assets/imgs/bg/delivery-drivertop.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.fd-deliver-flexible-content {
    max-width: 1140px;
    margin: 0 auto;
    height: 596px;
    padding-top: 115px; 
  }

.fd-deliver-flexible-title {
    font-size:60px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:70px;
}  
.fd-deliver-flexible-text {
    font-size:18px;
    font-family:OpenSans;
    color:rgba(229,255,255,1);
    line-height:24px;
    margin-top: 22px;
    width: 33%;
    height: 105px;      /* to button */
    padding-bottom: 53px;
  }  

@media (max-width: 750px){
  .fd-deliver-flexible-content {
    background-size: 60%;
    background-position: top right;
    height: 260px;
    padding-bottom: 30px;
  }
  .fd-deliver-flexible-h1 {
    font-size: 18px;
    line-height: 20px;
  }  
  .fd-deliver-flexible-p {
      width: 35%;
      font-size: 10px;
      color: white;
      line-height: 12px;
  }  
  .fd-deliver-flexible-earn200 {
    padding-bottom: 20px;
  }
  .fd-deliver-flexible-button a {
      font-size: 10px;
  }
  .fd-deliver-flexible-button-img{
    height: 12px;
  }
}
@media (min-width: 751px) and (max-width: 992px){
  .fd-deliver-flexible-content {
    background-size: 70%;
    height: 280px;
  }
  .fd-deliver-flexible-h1 {
    font-size: 26px;
    line-height: 26px;
  }  
  .fd-deliver-flexible-p {
      width: 35%;
      font-size: 14px;
      color: white;
      line-height: 16px;
  }  
  .fd-deliver-flexible-earn200 {
    padding-bottom: 20px;
  }
  .fd-deliver-flexible-button a {
      font-size: 12px;;
  }
}
@media (max-width: 1140px){
  .fd-deliver-flexible-content {
    padding-right: 20px;  
    padding-left: 20px;
  }
}

/* why deliver with fantuan */
/* ======================== */

.fd-deliver-why-bg {
    background-color: #FFFFFF;
}
.fd-deliver-why-content {
    max-width: 1140px;
    margin: 0 auto;
    width: auto;
    padding-top:70px;       /* to top */
    padding-bottom: 55px;   /* to bottom */
}
  
.fd-deliver-why-header {
  font-size:40px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:40px;
  text-align: center;
}
.fd-deliver-why-header-text {
  font-size:16px;
  font-family:OpenSans;
  color:rgba(102,102,102,1);
  line-height:22px;    
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 30px;    /* to icons below */
}
.fd-deliver-why-title {
  font-size:18px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(34,34,34,1);
  line-height:24px;
  text-align: center;
  padding-top: 30px;       /* to icons */
}
.fd-deliver-why-text {
  font-size:14px;
  font-family:OpenSans-Semibold,OpenSans;
  font-weight:600;
  color:rgba(102,102,102,1);
  line-height:19px;
  /* padding-top: 0px; */  /* to title above */
}
.fd-deliver-why-content
.card-group .card {
    border: none;
    text-align: center;
}
  
  
/* Meet the people (carousel slides) */
/* ================================= */

.fd-deliver-meet-bg {
    background-color: #FBFAF8;
}
.fd-deliver-meet-content {
    max-width: 1140px;
    margin: 0 auto;
    height: 815px;
    padding-top: 92px; 
}

.fd-deliver-meet-header {
  font-size:40px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:40px;
  text-align: center;
}
.fd-deliver-meet-text {
  font-size:16px;
  font-family:OpenSans;
  color:rgba(102,102,102,1);
  line-height:22px;
  text-align: center;
  padding-top: 22px;    /* to header above */
  padding-bottom: 48px; /* to indicator below */
}

.fd-deliver-meet-content .card {
    border: none;
}

.fd-deliver-meet-quotation {
  font-size:40px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(102,102,102,1);
  line-height:14px;  
  text-align: left;
  padding-top: 97px;      /* to indicator above */
}

.fd-deliver-meet-card {
  /* width: 550px; */
  padding: 0;
  margin: 0;
  /* margin-left: 10%;
  margin-right: 10%; */
}
.fd-deliver-meet-card-body,
.fd-deliver-meet-div1,
.fd-deliver-meet-div2 {
  /* width: 550px; */
  width: auto;
  display: inline-block;
  background-color: #FBFAF8;
}
  
.fd-deliver-meet-comment {
  width: 488px;
  height:216px;            /* 165+51=216 to icon below */
  font-size:20px;
  font-family:OpenSans;
  color:rgba(102,102,102,1);
  line-height:33px;  
  padding-bottom: 51px;
  justify-content: space-between;
}

.fd-deliver-meet-div {
  display: -webkit-flex;  
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-self: center;
  /* margin-right: 20px; */
}
.fd-deliver-meet-div1 {
  width: 98px;            /* icon to text right 24px */
}
.fd-deliver-meet-img {
  width:74px;
  height:74x;
  object-fit:cover;  
  border-radius:50%;
}
.fd-deliver-meet-div2 {
  display: -webkit-flex;  
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}
.fd-deliver-meet-div2-title {
  margin:0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.fd-deliver-meet-div2-text {
  margin: 0;
  font-size: 14px;
  text-align: left;
}
 
/* ------ */
.fd-deliver-meet-slider
.slick-dots {
  top: -10px;  
  max-height:30px;
}
.fd-deliver-meet-slider
.slick-dots li {
  height: 9px;
  width: 40px;
  margin: 0 0 0 5px;
  padding: 0;
}
.fd-deliver-meet-slider 
.slick-dots li button {
  background: rgba(255,255,255,1);
  height: 9px;
  width: 39px;
  padding: 0px;
}
.fd-deliver-meet-slider
.slick-dots li button::before {
  content: '';
  width: 39px;
  height: 9px;
  border: 1px solid rgba(187,187,187,1);
  border-radius: 9px;
  opacity: 1;
  background: rgba(255,255,255,1);
}
.fd-deliver-meet-slider
.slick-dots li.slick-active button::before {
  background:#13C2C2;
  opacity: 1 ;
}

/* get start */
/* ========= */

.fd-deliver-get-bg {
  background-color: #13C2C2;
}
.fd-deliver-get-content {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 80px; 
  padding-bottom: 95px;
}

.fd-deliver-get-header {
  font-size:40px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:50px;
  padding-bottom: 14px; /* to header */
}
.fd-deliver-get-text {
  font-size:16px;
  font-family:OpenSans;
  color:rgba(255,255,255,1);
  line-height:26px;
}

.fd-deliver-get-text-button {
  display: -webkit-flex;  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1140px){
  .fd-deliver-get-content {
    padding-right: 20px;  
    padding-left: 20px;
  }
}
