/* ================================================================= */
/* Program: DeliveryFAQ.css - the css file of the FAQ of the         */ 
/*          delivery website                                         */
/* Author : Bill Huang                                               */
/* Date   : Oct 19 - Dec 18, 2019                                    */
/* ================================================================= */

/* FAQ */
/* === */

.fd-faq-faq-bg {
    background-color: #13C2C2;
}
.fd-faq-faq-content {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px; 
    padding-bottom: 65px;
    color: white;
  }

.fd-faq-faq-header {
    font-size:40px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:50px;
    text-align: center;
}
.fd-faq-faq-header-note {
    font-size:16px;
    font-family:OpenSans;
    color:rgba(255,255,255,1);
    line-height:22px;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

@media (max-width: 1140px){
    .fd-faq-faq-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}
  

/* general */
/* ======= */

.fd-faq-general-bg {
    background-color:white;
}
.fd-faq-general-content {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1140px){
    .fd-faq-general-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}
 

/* account */
/* ======= */

.fd-faq-account-bg {
    background-color:#FFFFFF;
}
.fd-faq-account-content {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 1140px){
    .fd-faq-account-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}


/* deliver */
/* ======= */

.fd-faq-deliver-bg {
    background-color:white;
}
.fd-faq-deliver-content {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;

}

@media (max-width: 1140px){
    .fd-faq-deliver-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}
 

/* refunds */
/* ======= */

.fd-faq-refunds-bg {
    background-color:#FFFFFF;
}
.fd-faq-refunds-content {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
} 

@media (max-width: 1140px){
    .fd-faq-refunds-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}


/* partners */
/* ======== */

.fd-faq-partners-bg {
    background-color:#FFFFFF;
}
.fd-faq-partners-content {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

 @media (max-width: 1140px){
    .fd-faq-partners-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}


/* payment */
/* ======= */

.fd-faq-payment-bg {
    background-color:#FFFFFF;
}
.fd-faq-payment-content {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

 @media (max-width: 1140px){
    .fd-faq-payment-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}


/* member */
/* ====== */

.fd-faq-member-bg {
    background-color:#FFFFFF;
}
.fd-faq-member-content {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;

    padding-bottom: 250px;;
}

 @media (max-width: 1140px){
    .fd-faq-member-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
}


/* for all */
/* ======= */

.fd-faq-header {
    width: 1140px;
    margin: 0;
    margin-left: 1px;
    font-size:28px;
    font-family:OpenSans-Bold,OpenSans;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:50px;
    padding-top: 80px;
    padding-bottom: 25px;
    border-bottom: 1px solid gainsboro;
}

.fd-faq-collaps {
    background-color: white;
    border: none
}
.fd-faq-toggle {
    font-size:18px;
    font-family:OpenSans-Semibold,OpenSans;
    font-weight:600;
    color:rgba(51,51,51,1);
    line-height:24px;

    border: none;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
}
.fd-faq-collaps
.ant-collapse-item-active {
    background:rgba(246,246,246,1);
}
