/* ================================================================= */
/* Program: About.css - the css file of the about.js of the office   */
/*          website                                                  */ 
/* Author : Bill Huang                                               */
/* Date   : Oct 19 - Dec 18, 2019                                    */
/* ================================================================= */

/* The Best Asian Food Delivery */
/* ============================ */

.ft-about-best-bg {
    background-image: url("../../assets/imgs/bg/fantuan-about-best.jpg");
    background-repeat: norepeat;
    background-size: cover;
    opacity: 1;
    transition: opacity 500ms ease-in;
    height: 100%;
    width: 0 auto;
    z-index: 1;
  }
  .ft-about-best-bg1 {
    background-image: url("../../assets/imgs/bg/fantuan-about-best1.jpg");
    background-repeat: norepeat;
    background-size: cover;
    height: 100%;
    width: 0 auto;
    z-index: 1;
  }
  .ft-about-best-content {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .ft-about-best-content::after{
    display:block;
    content:’’;
    height:0;
    clear:both;
  }
  
  .ft-about-best-text-buttons{
    z-index: 20;
  }
  
  @media (max-width: 750px){
    .ft-about-best-content {
      height: 332px;
    }
  
    .ft-about-best-bg-img {
      height: 100%;
      right: 8px;
      top: 0%;  
      }
  
    .ft-about-best-thebest {
      margin: 0;
      padding: 0;
      font-size: 35px;
      font-family: sans-serif;
      color: black;
    }
    .ft-about-best-af,
    .ft-about-best-del {
      margin: 0;
      padding: 0;
      font-size: 50px;
      line-height: 45px;
      color:black;
    }
    .ft-about-best-del {
      line-height: 50px;
    }
  
    .ft-about-best-buttons a {
      margin-right: 0.5rem;
      font-size: 0.6rem;
    }
    .ft-about-best-buttons-img{
      margin: 0;
      padding: 0;
      margin-right: 0.5rem;
    }
    
    .ft-about-best-button0 {
      font-size: 12px;
      width: 130px;
      margin-left: 4px;
      margin-bottom: 10px;
      border-radius: 50px 50px 50px 50px;
    }
    .ft-about-best-button1 {
      margin: 0;
      padding: 0;
      margin-left:4px;
      width: 130px;
      height: 30px;
    }
    .ft-about-best-button2 {
      margin: 0;
      padding: 0;
      width: 130px;
      height: 30px;
      margin-left: 10px;
    }
  }
  @media (min-width: 751px) and (max-width: 992px){
    .ft-about-best-content {
      height: 402px;
    }
    .ft-about-best-bg-img {
      height: 100%;
      right: 18px;
      top: 1%;  
    }
  
    .ft-about-best-thebest {
      margin: 0;
      padding: 0;
      margin-left: 10px;
      padding-top: 10px;
      font-family: sans-serif;
      font-size: 40px;
      color: black;
    }
    .ft-about-best-af,
    .ft-about-best-del {
      margin: 10px;
      padding: 0;
      font-size: 55px;
      line-height: 50px;
      color: black;
    }
    .ft-about-best-del {
      line-height: 60px;
    }
    .ft-about-best-buttons-img{
      margin: 0;
      padding: 0;
      margin-right: 7px;
    }    
    .ft-about-best-button0 {
      font-size: 12px;
      width: 150px;
      margin-left: 4px;
      margin-bottom: 30px;
      border-radius: 50px 50px 50px 50px;
    }
    .ft-about-best-button1 {
      margin: 0;
      padding: 0;
      margin-left:4px;
      width: 140px;
      height: 30px;
    }
    .ft-about-best-button2 {
      margin: 0;
      padding: 0;
      width: 140px;
      height: 30px;
      margin-left: 10px;
    }
  }
  @media (min-width: 993px){
    .ft-about-best-content {
      height: 800px;
    }
    .ft-about-best-bg-img {
      height: 100%;
      right: 28px;
      top: 0%;  
    }
  
    .ft-about-best-thebest {
      font-size:80px;
      font-family:OpenSans;
      color:rgba(57,27,16,1);
      line-height:83px;
      padding-top: 95px;
    }
    .ft-about-best-af,
    .ft-about-best-del {
      font-size:80px;
      font-family:OpenSans-bold;
      color:rgba(57,27,16,1);
      line-height:83px;
    }
  
    .ft-about-best-buttons-img{
      margin: 0;
      padding: 0;
      margin-right: 3px;
    }
    
    .ft-about-best-button0 {
      width:174px;
      height:49px;
      background:rgba(238,65,85,1);
      border-radius:100px;
      font-size:16px;
      font-family:OpenSans-Semibold,OpenSans;
      font-weight:600;
      color:rgba(255,255,255,1);
      line-height:30px;
      border: none;
      margin-left: 4px;
      margin-top: 5px;
      margin-bottom: 130px;
    }
    .ft-about-best-button1,
    .ft-about-best-button2 {
      margin: 0;
      padding: 0;
      width: 182px;
      height: 40px;
      margin-top: 10px;
    }
    .ft-about-best-button1 {
      margin-right: 62px;
    }
    .ft-about-best-button0:hover {
      opacity: 0.8;
    }
    .ft-about-best-button1:hover,
    .ft-about-best-button2:hover {
      background-color: rgb(0, 0, 0,0);
      opacity: 0.8;
    }

  }
  @media (max-width: 1140px){
    .ft-about-best-content {
      padding-right: 20px;  
      padding-left: 20px;
    }
  }
  
  
/* about fantuan */
/* ============= */
.ft-about-about-bg {
  background-color: #FFFFFF;
}
.ft-about-about-content {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 155px;
}
.ft-about-about-content::after{
  display:block;
  content:’’;
  height:0;
  clear:both;
}
.ft-about-about-content .card {
    border: none;
    text-align: center;
}
.ft-about-about-card-title{
  margin:0;
  padding: 0;
  font-size:40px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:40px;
  padding-bottom: 26px;
}
.ft-about-about-card-text {
  font-size:18px;
  font-family:OpenSans;
  color:rgba(51,51,51,1);
  line-height:32px;
}

@media (max-width: 1140px){
  .ft-about-about-content {
    padding-right: 10px;  
    padding-left: 10px;
  }
}


/* about history */
/* ============= */
.ft-about-history-bg {
  background-color: #FBF9F8;
}
.ft-about-history-content {
  margin: 0;
  padding: 0;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 90px;    /* title to top */
  padding-bottom: 138px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ft-about-history-content::after{
  display:block;
  content:’’;
  height:0;
  clear:both;
}

.ft-about-history-title {
  font-size:40px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:40px;
  text-align: center;
  padding-bottom: 85px; /* title to timeline below */
}

.ft-about-TimelineComponent {
  margin: 0;
  padding:0;
  padding: 10px 10px 10px 10px; 
}

.ft-about-ContentComponent {
  display: flex;
  line-height: 1.1;
}

.ft-about-YearComponent {
  color: #002a3a;
  width: 160px;
  padding-right: 55px;
  position: relative;
}
.ft-about-YearComponent::after {
    background: #ccc;
    border-radius: 50%;
    content: '';
    height: 17px;
    width: 17px;
    right: -6px;
    position: absolute;
    top: 5px;
}
.ft-about-YearComponentItem{
  font-size:18px;
  font-family:OpenSans-Semibold,OpenSans;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:20px;
  margin-bottom: 8px;
  text-align: right;
}

.ft-about-BodyComponent{
  color: #002a3a;
  padding-bottom: 20px;
  padding-left: 15px;
  position: relative;
}
.ft-about-BodyComponent::before {
    background-color: #ccc;
    content: '';
    height: 100%;
    left: -4px;
    min-height: 95%;
    position: absolute;
    top: 10px;
    width: 3px;
}
.ft-about-BodyComponentTitle{
  font-size:16px;
  font-family:OpenSans-Semibold,OpenSans;
  font-weight:600;
  color:rgba(51,51,51,1);
  line-height:20px;
  margin-bottom: 1px;
  margin-top: 0;
  margin-left: 40px;
  text-align: left;
}

.ft-about-DescriptionComponent{
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
  width: 350px;
  margin-left: 40px;
  position: reltive;
}
.ft-about-DescriptionComponentText{
  font-size:14px;
  font-family:OpenSans;
  color:rgba(102,102,102,1);
  line-height:18px;
}
.ft-about-DescriptionComponentTextOptional{
  font-style: italic;
  color: #818a91;
}
.ft-about-DescriptionComponentTextOptional::before {
    content: '- (';
    margin-left: 5px;
}
.ft-about-DescriptionComponentTextOptional::after {
    content: ')';
}

.ft-about-ContentComponent.active 
.ft-about-YearComponent::after{
	background-color: #13C2C2
}
.ft-about-ContentComponent.active 
.ft-about-BodyComponent::before{
	background-color: #13C2C2
}

@media (max-width: 1140px){
  .ft-about-history-content {
    padding-right: 10px;  
    padding-left: 10px;
  }
}

/* about contact */
/* ============= */
.ft-about-contact-bg {
  background-color: #FFFFFF;
}
.ft-about-contact-content {
  max-width: 1140px;
  margin: 0 auto;
  height: 871px;
}
.ft-about-contact-content::after{
  display:block;
  content:’’;
  height:0;
  clear:both;
}

.ft-about-contact-title {
  font-size:40px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:55px;
  text-align: center;
  padding-top:55px;
  padding-bottom: 10px;
}

.ft-about-contact-note {
  font-size:16px;
  font-family:OpenSans;
  color:rgba(102,102,102,1);
  line-height:22px;
  text-align: center;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 10px;
}

.ft-about-contact-content
.col .row {
  justify-content: center;
}
.ft-about-contact-buttons {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 42px;
}
.ft-about-contact-but-ca {
  font-size:14px;
  font-family:Roboto-Bold,Roboto;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:16px;
  width: 135px;
  height: 36px;
  background:rgba(6,34,54,1);
  border-radius:18px 0px 0px 18px;  
}
.ft-about-contact-but-us {
  font-size:14px;
  font-family:Helvetica;
  color:rgba(0,0,0,1);
  line-height:17px;
  background:rgba(255,255,255,1);
  border-radius:0px 18px 18px 0px;
  border:1px solid rgba(212,212,212,1);
  width: 135px;
  height: 36px;
}
.ft-about-contact-but-ca:hover {
  color: rgba(255,255,255,1);
}
.ft-about-contact-but-us:hover {
  color:rgba(0,0,0,1);
  opacity: 0.6;
}

.ft-about-contact-info-title{
  margin: 0;
  margin-bottom: 10px;
  font-size:18px;
  font-family:OpenSans-Bold,OpenSans;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:24px;  
  transform: translate(10px,0);
}
.ft-about-contact-info-detail {
  margin: 0;
  font-size:15px;
  font-family:OpenSans;
  color:rgba(102,102,102,1);
  line-height:20px;  
  transform: translate(10px,0);
}

.ft-about-contact-mapadr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ft-about-contact-map {
  margin: 0;
  padding: 0;
  width: 565px;
 }
.ft-about-contact-map-img {
  width: 100%;
}
.ft-about-contact-adr {
  width: 400px;
  height: 410px;
  padding-left: 40px;
}

.ft-about-contact-info {
  margin: 0;
  padding: 0;
  text-align: left;
}

.ft-about-contact-adr
.slick-slider
.slick-prev {
  right: initial;
  top: inherit;
  bottom: -12%;
  margin-left:37px;
}
.ft-about-contact-adr
.slick-slider
.slick-next {
  right: initial;
  top: inherit;
  bottom: -12%;
  margin-left:37px;
}
.ft-about-contact-adr
.slick-slider
.slick-dots {
  top: initial;
  text-align: right;
}
/* .ft-about-contact-adr
.slick-slider
.slick-dots li::before {
  content: "";
  position: absolute;
  width: 8px; 
  height: 8px;
  border-radius: 4px;
  border: 1px solid black;
  color: black;  
}
.ft-about-contact-adr
.slick-slider
.slick-dots .slick-active::before {
  content: "1";
  position: absolute;
  width: 8px; 
  height: 8px;
  border-radius: 4px;
  border: 1px solid black;
  color: black;  
} */

.ft-about-contact-card {
  padding: 12px 0;
  position: relative;
  line-height:20px;
}
.ft-about-contact-card:hover::before {
  position: absolute;
  content: '';
  border-left: 3px solid  #13C2C2;
  top: 17px;
  height: calc(100% - 30px);
}
.ft-about-contact-card:hover
.ft-about-contact-info {
  color: #13C2C2;
  transform: translate(20px,0);
}
.ft-about-contact-info-title {
  padding-bottom: 7px;
}

@media (max-width: 1140px){
  .ft-home-contact-content {
    padding-right: 20px;  
    padding-left: 20px;
  }
}
